@inherits LayoutComponentBase

<div class="hold-transition login-page">
    @Body
</div>

<style>
    /* Garante que o fundo da página de login ocupe a tela toda */
    .login-page {
        background-color: #e9ecef;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
