@inherits LayoutComponentBase

<div class="wrapper">

    <NavbarPadrao></NavbarPadrao>

    <SidebarPadrao></SidebarPadrao>

    <div class="content-wrapper p-2">
        @*  <div class="content"> *@
        <div class="container-fluid">

            @Body

        </div>
        @*  </div> *@
    </div>

    <FooterPadrao></FooterPadrao>

</div>
