@using Microsoft.AspNetCore.Components.Authorization
@using Hiper.Erp.Apresentacao.Web.Handlers
@using Hiper.Erp.InterfaceUsuarios.RetaguardaWeb.Servicos

@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject StorageServico StorageServico

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <NavLink href="/" class="brand-link" Match="NavLinkMatch.All">
        <span class="brand-text font-weight-light">Hiper ERP</span>
    </NavLink>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img id="parametros-usuario-foto" src="images/user-default.png" class="elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="javascript:void(0);" class="d-block" @onclick='() => ChamarJS("CarregarModalFormulario", "Cadastro", "Agentes", 0)'>Usuário</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-th-large"></i>
                        <p>Início</p>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-folder-open"></i>
                        <p>
                            Cadastros
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="/Agentes/Agente" class="nav-link" Match="NavLinkMatch.Prefix">
                                <i class="nav-icon fas fa-user"></i>
                                <p>Agentes</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/FormasPagamentos/FormaPagamento" class="nav-link" Match="NavLinkMatch.Prefix">
                                <i class="nav-icon fas fa-credit-card"></i>
                                <p>Formas de Pagamento</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/Produtos/Produto" class="nav-link" Match="NavLinkMatch.Prefix">
                                <i class="nav-icon fas fa-box"></i>
                                <p>Produtos</p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="/Vendas/Venda" class="nav-link" Match="NavLinkMatch.Prefix">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>Vendas</p>
                            </NavLink>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0);" @onclick="EfetuarLogout" class="nav-link">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>Sair</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Inicializa os plugins do AdminLTE após a renderização do Blazor
            await JS.InvokeVoidAsync("blazorInterop.inicializarAdminLTE");
        }
    }

    private async Task ChamarJS(string funcao, params object[] parametros)
    {
        await JS.InvokeVoidAsync("blazorInterop.executarFuncaoGlobal", funcao, parametros);
    }

    private async Task EfetuarLogout()
    {

        var confirmado = await JS.InvokeAsync<bool>("MessageBoxConfirmacao", "Deseja realmente sair?");

        if (confirmado)
        {
            try
            {
                if (AuthStateProvider is CustomAuthenticationStateProvider customProvider)
                {
                    await customProvider.MarkUserAsLoggedOut();
                }

                Navigation.NavigateTo("/Auth/Login", forceLoad: true);

            }
            catch (Exception ex)
            {
                System.Diagnostics.Debug.WriteLine($"Erro ao fazer logout: {ex.Message}");

                Navigation.NavigateTo("/Auth/Login", forceLoad: true);
            }

        }


    }
}
