@* @using idSaas.Erp.InterfaceUsuarios.RetaguardaWeb.Components.Cards


<div class="card border-0 shadow-sm p-3 @Class" id="@Id">

    <div class="card-body p-0">
        @ChildContent
    </div>

</div>


<CardPadrao Class="@Class">


    <CardHeaderPadrao>

    </CardHeaderPadrao>


    <CardBodyPadrao>

        <RowPadrao>



        </RowPadrao>


    </CardBodyPadrao>


    <CardFooterPadrao>

    </CardFooterPadrao>


</CardPadrao>


@code {
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString("N");

    [Parameter] public string Titulo { get; set; }

    [Parameter] public string Class { get; set; }

    public string Id => $"card-{Id}";

    [Parameter] public RenderFragment ChildContent { get; set; }
} *@