@page "/"

<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <img src="/img/logo-compartilhamento.png" alt="Hiper ERP" style="max-width: 200px; width: 100%; border-radius: 12px;" />
</div>
