@using Hiper.Erp.Aplicacao.Dtos.FormasPagamentos
@using Hiper.Erp.Apresentacao.Web.Components.Buttons
@using Hiper.Erp.Apresentacao.Web.Components.Containers
@using Hiper.Erp.Apresentacao.Web.Components.Inputs
@using Hiper.Erp.Apresentacao.Web.Components.Tabs

<EditForm Model="FormaPagamento">
    <TabPadrao>
        <AbaPadrao Id="geral" Titulo="Geral" Icone="fas fa-th-large">
            <div class="p-3">
                <RowPadrao>
                    <InputIntPadrao FormGroupClass="col-12 col-md-2" Label="Código" Disabled @bind-Value="FormaPagamento.Codigo" />
                    <InputTextPadrao FormGroupClass="col-12 col-md-10" Label="Nome" @bind-Value="FormaPagamento.Nome" />
                </RowPadrao>
          
                <RowPadrao>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label">Descrição</label>
                            <InputTextArea class="form-control" @bind-Value="FormaPagamento.Descricao" rows="3" />
                        </div>
                    </div>
                </RowPadrao>
            </div>
        </AbaPadrao>
    </TabPadrao>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public DtoFormaPagamento FormaPagamento { get; set; } = new();
}
